.cover {
    display: flex;
    flex-direction: column;
    width: 1184px;
    height: 740px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../../images/cover-trains.jpg");
    background-size: 1184px 740px;
    object-fit: cover;
    align-items: center;
}