.place__website {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-self: end;
}

.place__website:hover {
    opacity: 0.8;
    transition: opacity, .3s;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin:  0 0 0 16px;
    }
}