.place__website {
    display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: #AAAAAA;
    margin: 0 0 12px;
    padding: 0;
    align-self: end;
}

.place__website:last-of-type {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin: 0 0 12px 16px;
    }

    .place__website:last-of-type {
        margin:  0 0 0 16px;
    }
}